.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.content {
  text-align: left;
}

.addButton {
  cursor: pointer;
}

.nameProduct,
.prize,
.nameProduct,
.addButton,
.input,
.input input {
  font-weight: 700;
}

.input {
  padding: 8px;
}

.input input {
  width: 15%;
}

.prize {
  color: brown;
}
